In [2]:
# 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

test1='This is a test of the emergency text system,'
f=open('test.txt','w')
f.write(test1)
f.close()

In [6]:
# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

f=open('test.txt','r')
test2=f.read()
test2
# No difference

'This is a test of the emergency text system,'

In [17]:
# 3. Create a CSV file called books.csv by using these lines:
#title,author,year
# The Weirdstone of Brisingamen,Alan Garner,1960
# Perdido Street Station,China Miéville,2000
# Thud!,Terry Pratchett,2005
# The Spellman Files,Lisa Lutz,2007
# Small Gods,Terry Pratchett,1992
import csv
rows=[["title",'author','year'],['The Weirdstone of Brisingamen','Alan Garner',1960],['Perdido Street Station','China Miéville',2000],['Thud!','Terry Pratchett',2005],['The Spellman Files','Lisa Lutz',2007],['Small Gods','Terry Pratchett',1992]]

f=open('books.csv','w')
writer = csv.writer(f)
writer.writerows(rows)
f.close()

In [40]:
# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print('Db File Created')
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()
            

def execute_query(q,db):
    conn = sqlite3.connect(db) 
    c = conn.cursor()
    c.execute(q)                   
    conn.commit()
    print('Query Executed')

db="books.db"
q='CREATE TABLE IF NOT EXISTS books([title] TEXT, [author] TEXT,[year] INTEGER) '

create_connection(db)
execute_query(q,db)

Db File Created
Query Executed

In [48]:
# 5. Read books.csv and insert its data into the book table.

db="books.db"
f=open('books.csv','r')
reader=csv.reader(f)
header = next(reader)
for row in reader:
    if len(row)>0 and row != header:
        #print(i)
        q='INSERT INTO books (title, author,year) Values ("{}","{}",{})'.format(row[0],row[1],row[2])
        print(q)
        execute_query(q,db)

INSERT INTO books (title, author,year) Values ("The Weirdstone of Brisingamen","Alan Garner",1960)
Query Executed
INSERT INTO books (title, author,year) Values ("Perdido Street Station","China Miéville",2000)
Query Executed
INSERT INTO books (title, author,year) Values ("Thud!","Terry Pratchett",2005)
Query Executed
INSERT INTO books (title, author,year) Values ("The Spellman Files","Lisa Lutz",2007)
Query Executed
INSERT INTO books (title, author,year) Values ("Small Gods","Terry Pratchett",1992)
Query Executed

In [58]:
# 6. Select and print the title column from the book table in alphabetical order.
import pandas as pd

def sqlite_reader(q,db):
    conn = sqlite3.connect(db) 
    c = conn.cursor()     
    c.execute(q)
    return c

db="books.db"
q = 'SELECT title from books order by title'

c=sqlite_reader(q,db)

df = pd.DataFrame(c.fetchall(), columns=['title'])
print (df)

                           title
0         Perdido Street Station
1                     Small Gods
2             The Spellman Files
3  The Weirdstone of Brisingamen
4                          Thud!

In [59]:
# 7. From the book table, select and print all columns in the order of publication.
db="books.db"
q = 'SELECT title, author,year from books order by year'

c=sqlite_reader(q,db)    # Defined in previous question

df = pd.DataFrame(c.fetchall(), columns=['title','author','year'])
print (df)

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [70]:
# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

import sqlalchemy as db
database="books.db"

engine = db.create_engine('sqlite:///%s' % database)
connection = engine.connect()
metadata = db.MetaData()
shows = db.Table('books', metadata, autoload=True, autoload_with=engine)
query = db.select([shows])
result = connection.execute(query)
result_set = result.fetchall()
for row in result_set:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [91]:
# 9. Install the Redis server and the Python redis library (pip install redis) on your computer.
# Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

import redis
conn = redis.Redis()
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

<ipython-input-91-9cc145332b16>:6: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

In [92]:
# 10. Increment the count field of test and print it.
conn.hincrby('test', 'count', 2)   #increasing by 2

3